<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comment</title>
</head>

<body>

    <h1>Make a new comment</h1>
    <form action="/comments" method="POST">
        <label for="username">Enter username</label>
        <input type="text" name="username" placeholder="username" id="username">
        <br>
        <label for="comment">Comment Text</label>
        <br>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <br>
        <button>Submit</button>
    </form>

    <a href="/comments">Back to Index</a>
</body>

</html>